<div class="row services-title">
  <div class="col-md-6">
    <h1><%= i('cubes') %> Services</h1>
  </div>
  <div class="col-md-6">
    <%= link_to new_service_path, class: "btn btn-primary btn-lg pull-right" do %>
      <%= i('plus') %>
    <% end %>
  </div>
</div>

<% @services.each do |service| %>
  <%= render "service_panel", service: service, metric_count: 3 %>
<% end %>
