<div class="jumbotron">
  <div class="container">
    <h1>Pulse</h1>
    <p>
      Pulse is a dashboard that uses data from external metric services to render graphs displaying the health of your application.
    </p>
    <p>
      <%= link_to services_path, class: "btn btn-lg btn-default" do %>
        <%= i("github-square") %> Login with GitHub
      <% end %>
      <% if @org_name %>
        <br>
        <small class="text-muted">* You must be a member of the '<%= @org_name %>' organisation.</small>
      <% end %>
    </p>
  </div>
</div>
