// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.services-title {
  margin: 10px;
  h1 {
    margin: 0;
  }
}

.service-panel {
  .panel-title {
    font-size: 20px;
    line-height: 30px;
  }
}
