body {
  padding-top: 60px;
}

.services-title {
  margin: 10px;
  h1 {
    margin: 0;
  }
}

.service-panel {
  .panel-title {
    font-size: 20px;
    line-height: 30px;
  }
}

.metric-sidebar {
  .list-group-item {
    padding: 7px 7px;
  }
  .metric-attr-datapoint_name pre {
    padding: 3px;
    margin: 0;
  }
}
